h3 {
    color: rgb(186, 77, 164);
    ;
   
}
.bi {
    color: black;
    background-color: white;
}
.la {
    background-color:#5f9eec;
    font-size: medium;
}
.btn {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#zz {
    font-size: medium;
}
.nav-link {
font-style: oblique;
color: black;
}
.para {
    font-size: medium;
}
h6 {
    font-size:medium;
    text-align: center;
}
html {
    font-size: 12px;
}

h1 {
    color: #0d1006;
    font-family:'Poppins', sans-serif;
}
.naslov {
    color: black;
}
img {
    width: 20%;
}
/*oznaka klase (točka)*/
.paragraf1 {
color: blue;
/*veličine: px, %, rem*/
font-size: 30px;
font-weight: 700;
}
/*oznaka id (ljestvice)*/
#paragraf2 {
color: rgb(20, 146, 125);
font-size: 2rem;
font-weight: bolder;
}

h2 {
    color: rgb(8, 8, 15);
    font-family: 'Roboto', sans-serif;
    background-color: beige;
}
h1 {
    color: rgb(8, 8, 15);
    font-family: 'Roboto', sans-serif;
    
}
